@keyframes toast-animation {
    from {top: 0;}
    to {top: 8%;}
}
// all fields are required
#toast-error-1 {
    position: fixed;
    right: 50%;
    top: 8%;
    width: 300px;
    text-align: center;
    transform: translate(50%, 0);
    background-color: red;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    animation-name: toast-animation;
    animation-duration: 1s;
    z-index: 1;
    border-top-right-radius: 0;
}
// enter valid email address
#toast-error-2 {
    position: fixed;
    right: 50%;
    top: 8%;
    width: 300px;
    text-align: center;
    transform: translate(50%, 0);
    background-color: #ff4f00;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    animation-name: toast-animation;
    animation-duration: 1s;
    z-index: 1;
    border-top-right-radius: 0;
}
// success 
#toast-success {
    position: fixed;
    right: 50%;
    top: 8%;
    width: 300px;
    text-align: center;
    transform: translate(50%, 0);
    background-color: #0aad60;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    animation-name: toast-animation;
    animation-duration: 1s;
    z-index: 1;
    font-weight: 500;
    color: #fff;
    border-top-right-radius: 0;
    i {
        padding-left: 15px;
        font-size: 22px;
        color: #fff;
        transform: translate(0,-2px);
    }
}